@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #ff2f00;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

h1 {
  color: green;
}
